<%- include ('partials/header.ejs') %>
  <div>
    <div class="innerboxt">
      <div class="inntoinn">
        <h1 style="
          text-align: center;
          font-family: Lora;
          font-weight: 900;
          font-size: 2.6rem;
        ">
          Welcome to Elan and ηVision CA Portal
        </h1>
        <br />
        <p class="p">
          Elan & ηVision is the annual Techno-Cultural fest of IIT Hyderabad. It
          is one of the largest fests in South-India. Elan refers to the cultural
          part and ηVision refers to the technical part of the fest. We, Elan &
          ηVision are launching the Campus Ambassador (CA) Program. And you can
          add value to it.
        </p>
        <p class="p">
          This is a call for all the college students who can become the Campus
          Ambassadors for Elan & ηVision 2022. This fest offers ample
          opportunities to everyone who is interested to showcase their talents in
          both cultural and technical fields. Elan & ηVision promises to give you
          a bagful of memories and an amazing festival experience.
        </p>
        <!-- <br /> -->
        <p class="p">
          We are looking for students across the country, who can help us grow our
          network and be a part of our fest. We would be very happy to see you as
          the face of Elan & ηVision 2022 in your institute and take this
          initiative step forward with your help and support. You will be the
          first point of contact for Elan & ηVision 2022 in your college and all
          the information to the prospective students of your college shall be
          relayed by you.
        </p>
        <!-- <br /> -->
        <hr />
        <h1 style="font-family: Lora; font-weight: 900; font-size: 2.1rem">
          Incentives :
        </h1>
        <i class="fas fa-medal"></i>
        <span class="span">Get certified
          <ol class="mx-5" type="a">
            <li>Certificate of Participation from Elan & ηVision 2022.</li>
            <li>
              LOR (Letter of Recommendation) for the top CAs of this program.
            </li>
          </ol>
        </span>
        <i class="fas fa-medal"></i>
        <span class="span">Events & Workshops, Social Media
          <ol class="mx-5" type="a">
            <li>
              Free participation in all the events and workshops conducted by Elan
              & ηVision 2022.
            </li>
            <li>
              Get recognition on our social media platforms and official websites.
            </li>
          </ol>
        </span>
        <i class="fas fa-medal"></i>
        <span class="span">Building Network
          <ol class="mx-5" type="a">
            <li>Chance to interact with the Celebrities during the fest.</li>
          </ol>
        </span>
        <i class="fas fa-medal"></i>
        <fa icon="medal" class="mx-3"></fa>
        <span class="span">
          Get Merchandise
          <ol class="mx-5" type="a">
            <li>Free Merchandise for the top CAs of the program.</li>
          </ol>
        </span>
        <i class="fas fa-medal"></i>
        <span class="span">Other Rewards
          <ol class="mx-5" type="a">
            <li>Exciting rewards for accomplishing certain CA tasks.</li>
          </ol>
        </span>
        <br />
        <h1 style="font-family: Lora; font-weight: 900; font-size: 2.1rem">
          Why CA ?
        </h1>
        <ul>
          <li>
            <span>It’s a POR (Position Of Responsibility) in one of the largest fests
              in South India!.</span>
          </li>
          <li>
            <span>Also, there is a great scope for you to gain marketing and
              managerial skills through our CA Programme.</span>
          </li>
          <li>
            <span>You can highlight your Campus Ambassador experience on your resume,
              giving you a professional advantage over others.</span>
          </li>
          <li>
            <span>
              It allows you to connect with other like-minded students from across
              the country and expand your network.</span>
          </li>
          <li>
            <span>You get the opportunity to be a part of various Cultural and Techy
              events conducted by Elan & ηVision.</span>
          </li>
          <li>
            <span>
              Working as a CA is an excellent way to hone your communication and
              other soft skills.</span>
          </li>
        </ul>
        <br />
        <h1 style="font-family: Lora; font-weight: 900; font-size: 2.1rem">
          Responsibilities of a CA
        </h1>

        <ul>
          <li>
            Serve as an important connection between the students of your college
            and Elan & ηVision 2022.
          </li>
          <li>
            To help with online publicity of the fest through social media. And
            help us in gaining more followers and likes in social media.
          </li>
          <li>
            Coming up with innovative ideas to help Elan & ηVision to reach out to
            your college and peers.
          </li>
        </ul>
      </div>
    </div>
  </div>
  <%- include('partials/footer.ejs') %>